h1, h3, h5{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
div{
  text-align: center;
  line-height: 1.50em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
  padding: 10px;
}
.closing-paragraph{
  font-style: italic;
  font-size: 20px;
}
.more-stories{
  text align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.closing-paragraph::first-line {
  font-weight: bolder;
}
a:hover {
  color: hotpink;
}
