@font-face {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}
