h1, h3, h5{
  display: grid;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
div{
  text-align: center;
  line-height: 1.50em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
  padding: 10px;
}
.closing-paragraph{
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 20px;
}
.more-stories{
  margin: auto;
  padding: inherit;
  border-style: solid;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a:hover {
  color: hotpink;
}
.image{
  float: inherit;
  position: relative;
}
